@page
@model MilkShopRazorWebApp.Pages.CategoryModel
@{
    ViewData["Title"] = "Category page";
    var Categories = Model.categories;
}
<div class="text-center">
    <h1 class="display-6">Category Management</h1>
</div>

<div class="row">
    <div class="col-md-12 text-end">
        <button type="button" class="btn btn-primary" onclick="add();">
            Add
        </button>
    </div>
</div>

<!-- Search Form -->
<div class="row">
    <div class="col-md-12">
        <form method="get">
            <div class="form-group row">
                <div class="col-md-3">
                    <input type="text" name="SearchCategoryName" class="form-control" placeholder="Category Name" value="@Model.SearchCategoryName" />
                </div>
                <div class="col-md-3">
                    <input type="text" name="SearchType" class="form-control" placeholder="Type" value="@Model.SearchType" />
                </div>
                <div class="col-md-3">
                    <input type="text" name="SearchMetaKeywords" class="form-control" placeholder="Meta Keywords" value="@Model.SearchMetaKeywords" />
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr class="card-header">
                    <th class="card-title text-center">Id</th>
                    <th class="card-title text-center">Name</th>
                    <th class="card-title text-center">Type</th>
                    <th class="card-title text-center">Description</th>
                    <th class="card-title text-center">ParentCategoryID</th>
                    <th class="card-title text-center">ImageURL</th>
                    <th class="card-title text-center">MetaKeywords</th>
                    <th class="card-title text-center">Status</th>
                    <th class="card-title text-center">SortOrder</th>
                    <th class="card-title text-center">CreatedDate</th>
                    <th class="card-title text-center">UpdatedDate</th>
                    <th class="card-title text-center"></th>
                </tr>
            </thead>
            <tbody class="tblcurrencyList">
                @if (Categories.Count > 0)
                {
                    foreach (var category in Categories)
                    {
                        <form method="post">
                        <tr>
                            <td>
                                <div class="col-md-12">
                                    <label for="CategoryId"></label>
                                    <input asp-for="category.CategoryId" class="form-control" value="@category.CategoryId" readonly="true" />
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12">
                                    <label for="CategoryName"></label>
                                    <input asp-for="category.CategoryName" class="form-control" value="@category.CategoryName" />
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12">
                                    <label for="Type"></label>
                                    <input asp-for="category.Type" class="form-control" value="@category.Type" />
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12">
                                    <label for="Description"></label>
                                    <input asp-for="category.Description" class="form-control" value="@category.Description" />
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12">
                                    <label for="ParentCategoryID"></label>
                                    <input asp-for="category.ParentCategoryID" class="form-control" value="@category.ParentCategoryID" />
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12">
                                    <label for="ImageURL"></label>
                                    <input asp-for="category.ImageURL" class="form-control" value="@category.ImageURL" />
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12">
                                    <label for="MetaKeywords"></label>
                                    <input asp-for="category.MetaKeywords" class="form-control" value="@category.MetaKeywords" />
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12">
                                    <label for="Status"></label>
                                    <input asp-for="category.Status" class="form-control" value="@category.Status" readonly="true" />
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12">
                                    <label for="SortOrder"></label>
                                    <input asp-for="category.SortOrder" class="form-control" value="@category.SortOrder" />
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12">
                                    <label for="CreatedDate"></label>
                                    <input asp-for="category.CreatedDate" class="form-control" value="@category.CreatedDate" />
                                </div>
                            </td>
                            <td>
                                <div class="col-md-12">
                                    <label for="UpdatedDate"></label>
                                    <input asp-for="category.UpdatedDate" class="form-control" value="@category.UpdatedDate" />
                                </div>
                            </td>
                            <td>
                                <button asp-page-handler="Update" id="btUpdate" type="submit" class="btn btn-primary">Update</button>
                            </td>
                            <td>
                                <button asp-page-handler="Delete" id="btDelete" type="submit" class="btn btn-primary">Delete</button>
                            </td>
                        </tr>
                        </form>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="currencyModal" tabindex="-1" aria-labelledby="currencyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="currencyModalLabel">Category Transaction</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="currencyModalContent"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="1">CategoryName</label>
                                    <input asp-for="category.CategoryName" class="form-control" />
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <label for="1">Type</label>
                                        <input asp-for="category.Type" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="1">Description</label>
                                    <input asp-for="category.Description" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="1">ParentCategoryID</label>
                                    <input asp-for="category.ParentCategoryID" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="1">ImageURL</label>
                                    <input asp-for="category.ImageURL" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="1">MetaKeywords</label>
                                    <input asp-for="category.MetaKeywords" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="1">SortOrder</label>
                                    <input asp-for="category.SortOrder" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="1">CreatedDate</label>
                                    <input asp-for="category.CreatedDate" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label>@Model.Message</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btSave" type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="update" tabindex="-1" aria-labelledby="currencyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="currencyModalLabel">Category Transaction</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="currencyModalContent"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="1">CategoryId</label>
                                    <input asp-for="category.CategoryId" class="form-control" />
                                </div>
                                <div class="col-md-6">
                                    <label for="1">CategoryName</label>
                                    <input asp-for="category.CategoryName" class="form-control" />
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <label for="1">Type</label>
                                        <input asp-for="category.Type" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="1">Description</label>
                                    <input asp-for="category.Description" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="1">ParentCategoryID</label>
                                    <input asp-for="category.ParentCategoryID" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="1">ImageURL</label>
                                    <input asp-for="category.ImageURL" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="1">MetaKeywords</label>
                                    <input asp-for="category.MetaKeywords" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="1">Status</label>
                                    <input asp-for="category.Status" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="1">SortOrder</label>
                                    <input asp-for="category.SortOrder" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="1">CreatedDate</label>
                                    <input asp-for="category.CreatedDate" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label>@Model.Message</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btSave" type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        function add() {
            $('#currencyModal').modal('show');
        }
    </script>
}
