@page
@model MilkShopRazorWebApp.Pages.CustomerModel
@{
    ViewData["Title"] = "Customer page";
    var Customers = Model.customers;
}

<div class="text-center">
    <h1 class="display-6">Custommer Management</h1>
</div>

<div class="row">
    <div class="col-md-12 text-end">
        <button type="button" class="btn btn-primary" onclick="add();">
            Add
        </button>
    </div>
</div>


    <div >
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr class="card-header">
                    <th class="card-title text-center"></th>
                    <th class="card-title text-center">Account ID</th>
                    <th class="card-title text-center">Name</th>
                    <th class="card-title text-center">Email</th>
                    <th class="card-title text-center">Address</th>
                    <th class="card-title text-center">Phone Number</th>
                    <th class="card-title text-center">Date of birth</th>
                    <th class="card-title text-center">Gender</th>
                    <th class="card-title text-center">Point</th>
                    <th class="card-title text-center">Status</th>
                    
                </tr>
            </thead>
            <tbody class="tblcurrencyList">
                @if (Customers.Count > 0)
                {
                    foreach (var customer in Customers)
                    {
                        <form method="post">
                        <tr>
                            <td>
                                <div >
                                    <label for="CustomerId"></label>
                                    <input asp-for="Customer.CustomerId" class="form-control" value="@customer.CustomerId" readonly="true" />
                                </div>
                            </td>
                            <td>
                                <div >
                                    <label for="AccountId"></label>
                                <input asp-for="Customer.AccountId" class="form-control" value="@customer.AccountId" readonly="true" />
                                </div>
                            </td>
                            <td>
                                <div >
                                    <label for="CategoryName"></label>
                                    <input asp-for="Customer.Name" class="form-control" value="@customer.Name" />
                                </div>
                            </td>
                            <td>
                                <div >
                                    <label for="Type"></label>
                                    <input asp-for="Customer.Email" class="form-control" value="@customer.Email" />
                                </div>
                            </td>
                            <td>
                                <div >
                                    <label for="Address"></label>
                                    <input asp-for="Customer.Address" class="form-control" value="@customer.Address" />
                                </div>
                            </td>
                            <td>
                                <div >
                                    <label for="PhoneNumber"></label>
                                    <input asp-for="Customer.PhoneNumber" class="form-control" value="@customer.PhoneNumber" />
                                </div>
                            </td>
                            <td>
                                <div >
                                    <label for="DOB"></label>
                                    <input asp-for="Customer.Dob" class="form-control" value="@customer.Dob"/>
                                    
                                </div>
                            </td>
                            <td>
                                <div >
                                    <label for="Gender"></label>
                                    @* <input asp-for="Customer.Gender" class="form-control" value="@customer.Gender"/> *@
                                    <select asp-for="Customer.Gender" class="form-control" asp-items="ViewBag.Gender">
                                        <option value="True" selected="@(customer.Gender)">Male</option>
                                        <option value="False" selected="@(!customer.Gender)">Female</option>
                                    </select>
                                    
                                </div>
                            </td>
                            <td>
                                <div >
                                    <label for="Point"></label>
                                    <input asp-for="Customer.Point" class="form-control" value="@customer.Point" />
                                </div>
                            </td>
                            <td>
                                <div >
                                    <label for="Status"></label>
                                    @* <input asp-for="Customer.Status" class="form-control" value="@customer.Status" /> *@
                                   
                                        <select asp-for="Customer.Status" class="form-control">
                                            <option value="Active" selected="@(customer.Status == "Active")">Active</option>
                                            <option value="Inactive" selected="@(customer.Status == "Inactive")">Inactive</option>
                                        </select>
                                        
                                </div>
                            </td>

                            <td>
                                <button asp-page-handler="Update" id="btUpdate" type="submit" class="btn btn-primary">Update</button>
                            </td>
                            <td>
                                <button asp-page-handler="Delete" id="btDelete" type="submit" class="btn btn-primary">Delete</button>
                            </td>
                        </tr>
                        </form>
                    }
                }
            </tbody>
        </table>
    </div>


<div class="modal fade" id="currencyModal" tabindex="-1" aria-labelledby="currencyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="currencyModalLabel">Customer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="currencyModalContent"></div>
                    <div class="row">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label for="1">Account ID</label>
                                <select asp-for="Customer.AccountId" class="form-control" onchange="updateAccountId(this)">
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                </select>
                            </div>

                            <script>
                                function updateAccountId(selectElement) {
                                    var selectedValue = selectElement.value;
                                    document.getElementById("Customer.AccountId").value = selectedValue;
                                }
                            </script>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="1">Customer Name</label>
                                    <input asp-for="Customer.Name" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="1">Email</label>
                                    <input asp-for="Customer.Email" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label>@Model.Message</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btSave" type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>

@* <div class="modal fade" id="update" tabindex="-1" aria-labelledby="currencyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="currencyModalLabel">Customer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="currencyModalContent"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="1">CustomerId</label>
                                    <input asp-for="Customer.CustomerId" class="form-control" />
                                </div>
                                <div class="col-md-6">
                                    <label for="1">CustomerAccountID</label>
                                    <input asp-for="Customer.AccountId" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="1">CustomerName</label>
                                    <input asp-for="Customer.Name" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="1">CustomerEmail</label>
                                    <input asp-for="Customer.Email" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="1">CustomerAddress</label>
                                    <input asp-for="Customer.Address" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="1">CustomerPhoneNumber</label>
                                    <input asp-for="Customer.PhoneNumber" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="1">CustomerDOB</label>
                                    <input asp-for="Customer.Dob" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="1">CustomerGender</label>
                                    <input asp-for="Customer.Gender" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="1">CustomerPoint</label>
                                    <input asp-for="Customer.Point" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="1">CustomerStatus</label>
                                    <input asp-for="Customer.Status" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label>@Model.Message</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btSave" type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div> *@

@section scripts
                                {
    <script type="text/javascript">
        function add() {
            $('#currencyModal').modal('show');
        }
    </script>

    <script>
        function displaySelected() {
            var selectElement = document.getElementById("genderSelect");
            var selectedOption = selectElement.options[selectElement.selectedIndex];
            selectedOption.text = selectedOption.value === "true" ? "Male" : "Female";
        }
    </script>
}