@page
@model MilkShopRazorWebApp.Pages.OrderModel
@{
    ViewData["Title"] = "Order page";
    var orders = Model.Orders;
    var pageNumber = Model.PageNumber;
    var currentPageNumber = Model.CurrentPageNumber;
}

<div class="row">
    <div class="col-md-12 text-end">
        <button type="button" class="btn btn-primary" onclick="add();">
            Add
        </button>
    </div>
</div>

<form method="post" asp-page-handler="Search">
    <label for="Address">Address</label>
    <input type="text" class="form-control" id="Address" name="Address" />
    <label for="PhoneNumber">Phone Number</label>
    <input type="text" class="form-control" id="PhoneNumber" name="PhoneNumber" />
    <label for="NameReceiver">Name Receiver</label>
    <input type="text" class="form-control" id="NameReceiver" name="NameReceiver" />
    <button type="submit" class="btn btn-danger">Search</button>
</form>

<h1>Orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>OrderId</th>
            <th>CustomerID</th>
            <th>TotalAmount</th>
            <th>Status</th>
            <th>TotalPrice</th>
            <th>Address</th>
            <th>PhoneNumber</th>
            <th>NameReceiver</th>
            <th>DateCreate</th>
            <th>DateUpdate</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in orders)
        {
            <tr>
                <td>@order.OrderId</td>
                <td>@order.CustomerId</td>
                <td>@order.TotalAmount</td>
                <td>@order.Status</td>
                <td>@order.TotalPrice</td>
                <td>
                    <input asp-for="@order.Address" class="form-control" id="@($"Address{order.OrderId}")" name="@($"Address{order.OrderId}")" value="@order.Address" />
                </td>
                <td>
                    <input asp-for="@order.PhoneNumber" class="form-control" id="@($"PhoneNumber{order.OrderId}")" name="@($"PhoneNumber{order.OrderId}")" value="@order.PhoneNumber" />
                </td>
                <td>
                    <input asp-for="@order.NameReceiver" class="form-control" id="@($"NameReceiver{order.OrderId}")" name="@($"NameReceiver{order.OrderId}")" value="@order.NameReceiver" />
                </td>
                <td>@order.DateCreate</td>
                <td>@order.DateUpdate</td>
                <td>
                    <form method="post" asp-route-orderId="@order.OrderId" asp-page-handler="Update" onsubmit="return updateHiddenFields('@order.OrderId')">
                        <input type="hidden" id="AddressHidden-@order.OrderId" name="Address" />
                        <input type="hidden" id="PhoneNumberHidden-@order.OrderId" name="PhoneNumber" />
                        <input type="hidden" id="NameReceiverHidden-@order.OrderId" name="NameReceiver" />
                        <button type="submit" class="btn btn-danger">Update</button>
                    </form>
                    <form method="post" asp-page-handler="Delete" asp-route-orderId="@order.OrderId">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td> 
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="orderModel" tabindex="-1" aria-labelledby="orderModelLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="orderModelLabel">Order Transaction</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="orderModelContent"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="CustomerId">Customer Id</label>
                                    <input asp-for="order.CustomerId" class="form-control" id="CustomerId" name="CustomerId" />
                                </div>
                                <div class="col-md-6">
                                    <label for="Address">Address</label>
                                    <input asp-for="order.Address" class="form-control" id="Address" name="Address" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="PhoneNumber">Phone Number</label>
                                    <input asp-for="order.PhoneNumber" class="form-control" id="PhoneNumber" name="PhoneNumber" />
                                </div>
                                <div class="col-md-6">
                                    <label for="NameReceiver">Name Receiver</label>
                                    <input asp-for="order.NameReceiver" class="form-control" id="NameReceiver" name="NameReceiver" />
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btSave" type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>

<div class="pagination">
    @for (int i = 1; i <= pageNumber; i++)
    {
        <form method="post" asp-page-handler="Page" asp-route-number="@i">
            <button class="page-button @(i == currentPageNumber ? "current-page" : "")">@i</button>
        </form>
        
    }
</div>

<style>
    .pagination {
        margin-top: 10px;
    }

    .page-button {
        background-color: white;
        border: 1px solid #ccc;
        color: #333;
        padding: 5px 10px;
        margin-right: 5px;
        cursor: pointer;
    }

        .page-button.current-page {
            background-color: #007bff;
            color: white;
            border-color: #007bff;
        }
</style>

@section scripts
    {
    <script type="text/javascript">
        function add() {
            $('#orderModel').modal('show');
        }
        function updateHiddenFields(orderId) {
            // Lấy giá trị từ input mà người dùng đã nhập
            var address = document.getElementById(`Address${orderId}`).value;
            var phoneNumber = document.getElementById(`PhoneNumber${orderId}`).value;
            var nameReceiver = document.getElementById(`NameReceiver${orderId}`).value;

            // Cập nhật giá trị của input ẩn
            document.getElementById(`AddressHidden-${orderId}`).value = address;
            document.getElementById(`PhoneNumberHidden-${orderId}`).value = phoneNumber;
            document.getElementById(`NameReceiverHidden-${orderId}`).value = nameReceiver;

            // Trả về true để tiếp tục submit form
            return true;
        }
    </script>
}
